.header {
    background-image: linear-gradient(rgba(7, 65, 172, 0.5), rgba(0, 123, 151, 0.5)), url(../img/title.jpg);
    background-size: cover;
    background-position: 50%;
}

.header__nav {
    display: flex;
    justify-content: center;
}

.top-text {
    margin-top: 100px;
    color: var(--subtitle-color);
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.header__title {
    font-size: 40px;
    text-transform: uppercase;
    color: var(--title-color);
    font-family: 'Tourney', cursive;
}